

body { 
	text-align: center;
	background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 50%), url("../images/lune.jpg");
	color: white;
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
	margin-bottom: 150px;
	height: 450px;
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-size: 45px;
	margin-bottom: 80px;
}

p {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 100px;
}

button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px 2px white;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  border: none;
}

button:hover {
    transform: scale(1.1);
}


 @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

